{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>

            <th>{% trans %}Name{% endtrans %}</th>
            <th>Date of creating</th>
            <th>Number of Players</th>
            <th>Top</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for quiz in blog_posts %}
            <tr>

                <td>

                   {{ quiz.name|trans }}
                </td>
                <td>{{ quiz.date|date('Y.M.D') }}</td>
                <td>{{ quiz.number_of_players }}<i class="fa fa-user-circle-o" aria-hidden="true"></i></td>

                <td><a href="{{ path('quizzes_top', {'id': quiz.id}) }} }}"><button class="btn">TOP</button></a>
                    </td>
                <td>
                        <a href="{{ path('play_quiz', {'id': quiz.id}) }}" class="btn btn-xs btn-success"><i class="fa fa-gamepad fa-3x" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(blog_posts) }}
    </div>
{% endblock %}

